
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

body {
  margin: 0;
  background: #f5f5f5;
  background-image: url("mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 420px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #f4bf4d;
  -webkit-text-stroke: black 1.5px;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.subtitle {
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 1.25rem;
  margin-top: 0;
}

.card {
  background: #fff;
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.drops{
  font-size: 0.7rem;
}

.form-card {
  border: 8px solid #c0392b;
  background: #F8F2E4;
}

.form-card input,
.form-card select,
.form-card textarea {
  border: 2.5px solid black;
}

.report-card {
  border: 8px solid #2980b9;
  background: #F8F2E4;
  padding: 0;
  text-align: start;
}
h3 {
  margin: 0 auto;
}

.type, .date {
  margin: 0
}

.type {
  color: #c0392b;
}

.card {
  padding: 2em;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc
}

textarea {
  resize: vertical;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background: #c0392b;
  color: white;
  font-weight: bold;
  border: 2.5px solid black;
  margin: 0 auto;
  letter-spacing: 2px;
  font-weight: 400;
}
